<div>
  <% @tweets.each do |tweet| %>
    <p>Usuário: <%= user_name(tweet) %></p>
    <p>Número de seguidores: <%= followers(tweet) %> </p>
      
    <p>Mensagem: <%= message(tweet) %></p>
    <p>Potado em: <%= posted_date(tweet) %></p>
      
    <p>Número de retweets: <%= retweet_count(tweet) %> </p>
    <p>Número de favoritos: <%= favourites_count(tweet) %></p>
    
    <hr>
  <% end %>
</div>
